@model IEnumerable<PackModel>

@{
    ViewData["Title"] = "Display Pack Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<div class="d-flex " style="margin-top: 2cm;">
    <div class="col-md-7">
        <div class="card">
            <div class="d-flex justify-content-end">
                <i class="fa-solid fa-plus plus_1" data-toggle="modal" data-target="#exampleModal"></i>
            </div>
            <div class="card-body">

                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th style="text-align: center;">superficie</th>
                            <th style="text-align: center;">reduction </th>
                            <th style="text-align: center;">Nom_couvre</th>
                             <th style="text-align: center;">Crée en</th>
                            <th style="text-align: center;">Modifié en</th>
                            <th style="text-align: center;">Plus</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                                                                                                                          <tr>
                                                                                                                              <td style="text-align: center;">
                                                                                                                                  <div class="d-flex align-items-center">

                                                                                                                                      <div class="ms-3">
                                                                                                                                          <p class="fw-bold mb-1">@item.superficie</p>
                                                                                                                                      </div>
                                                                                                                                  </div>
                                                                                                                              </td>

                                                                                                                              <td style="text-align: center;">
                                                                                                                                  <span>-@item.reduction%</span>
                                                                                                                              </td>
                                                                                                                                  <td style="text-align: center;">
                                                                                                                                  <span>@item.id_couvre.Nom</span>
                                                                                                                              </td>

                                                                                                                              <td style="text-align: center;">
                                                                                                                                  <div class="">
                                        @item.CreatedAt
                                                                                                                                  </div>
                                                                                                                              </td>
                                                                                                                              <td style="text-align: center;">
                                                                                                                                  <div class="">
                                        @item.UpdatedAt
                                                                                                                                  </div>
                                                                                                                              </td>
                                                                                                                              <td class="d-flex justify-content-evenly align-items-center " style="height:3cm ;">
                                                                                                                                  <div class="">
                                                                                                                                  </div>
                                                                                                                              </td>
                                                                                                                          </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>


    </div>
</div>
<!-- Modal -->
