.stretch-card>.card {
  width: 100%;
  min-width: 100%
}

body {
  background-color: #f9f9fa
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

@media (max-width:991.98px) {
  .padding {
      padding: 1.5rem
  }
}

@media (max-width:767.98px) {
  .padding {
      padding: 1rem
  }
}

.padding {
  padding: 3rem !important
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  border: none;
  margin-bottom: 30px;
}

.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 25px 20px;
}

.card .card-header+.card-block, .card .card-header+.card-block-big {
  padding-top: 0;
}

.card-block {
  padding: 1.25rem;
  background-color: #fff;
}

.m-b-20 {
  margin-bottom: 20px;
}

.card-sub {
  cursor: move;
  border: none;
  -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
}

.card-block {
  padding: 1.25rem;
  background-color: #fff;
}




.row{

  margin-left: 2%;
  margin-right: 2%;
  margin-top:5%;
}
.page{

  width: 100%;
  height:auto;
min-height:100vh;
  background-color:#ede7e6;
  background-size: 100% 100%;
  background-position: top center;
  padding:10px;
}

.signintext{
margin-right:20%!important;
color:#969799;

}

.top{
color: #64C97D;
}

.btn{
  width: 30%;
  margin-top:5%;
  margin-bottom: 5%;
margin-left: 25%;

}

.ForgotPassBtn{
background-color:white; 
color:black;
border-bottom: 1px solid #c7c5c5;
padding-bottom: 3px;
text-decoration: none!important;
  margin-right: 20%;
  border-top-color: none;

}
.LoginBtn{
    border-radius: 25px;
    background-image:url(http://i.imgur.com/S4zmPRw.png);
    border:none;
}



.signupbtn{
  border-radius: 25px;
  width: 25%;
  margin:auto;
  background-image:url(http://i.imgur.com/S4zmPRw.png);
  border:solid 1px white;
font-size: 10px;
}

form{
  padding: 0;
  margin-left: 15%;
}

.signin{
background-color: white;
padding: 2%;
  margin: auto;
}

.signup{
    background-image:url(http://i.imgur.com/S4zmPRw.png);
  padding: 2%;
}

.form-control{
  width: 80%;
  margin-bottom: 5%;
      margin-top: 5%;
      background-color: #ebe8e8;

}





.custom-control{
  margin-bottom: 2%;
} 

h2.HelloFriend{
color:#fff !important;
font-weight:200px;
margin-top:30%;
margin-bottom:10%;
}

.SignupText{
  color:#fff;
  margin-bottom:15%;
font-size:16px;
font-weight: 10px!important;
font-family: Garamond;
}

@media only screen and (max-width: 600px) {
 row{


      margin-top: 5%;
      margin-left: 1%;
      margin-right: 1%;
  }    }

input, input:focus{
      border-width: 0px;
      outline:0; 
      -webkit-appearance:none;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
}


.social-btn .btn {
  color: #fff;
      margin: 8px 0 0 30px;
  font-size: 15px;
     width: 45px;
  height: 40px;
  line-height: 25px;
      border-radius: 50%;
  font-weight: normal;
      text-align: center;
  border: solid 0.5px grey;
  transition: all 0.4s;
  }	
.social-btn .btn:first-child {
  margin-left: 0;
}
.social-btn .btn:hover {
  opacity: 0.8;
}

.social-btn .btn i {
  font-size: 20px;
}

.social-btn{
  margin-right: 20%;
  margin-bottom: 7%;
  margin-top: 5%;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
    display: none
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex
}

@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%)
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%)
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0)
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
    display: none
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex
}

@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%)
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%)
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0)
}
